@model List<IBeer.ViewModel.VMDrink>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Código de Barras</th>
                    <th>Quantidade</th>
                    <th>Lote</th>
                    <th>Validade</th>
                    <th>Est. Crítico</th>
                    <th>Est. Mínimo</th>
                    <th>Est. Máximo</th>
                    <th>Est. Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var drink in Model)
                {
                    <tr>
                        <td>@drink.Name</td>
                        <td>@drink.BarCode</td>
                        <td>@drink.Amount</td>
                        <td>@drink.Lot.Despription</td>
                        <td>@drink.Lot.ShelfLife</td>
                        <td>@drink.Stock.Critical</td>
                        <td>@drink.Stock.Minimun</td>
                        <td>@drink.Stock.Maximun</td>
                        <td>@drink.Stock.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@using(Html.BeginForm("Verify", "PurchaseOrder"))
{
    <input type="submit" class="btn" value="Gerar ordem de compra" />
}